<div class="footer">
  <div class="footer-icon">
    <img class="footer-logo" src="../../assets/logo.svg" alt="logo">

    <img class="footer-witter" src="../../assets/fi_twitter.svg" alt="twitter">

    <img src="../../assets/fi_telegramm.svg" alt="telegram">

    <img src="../../assets/fi_facebook.svg" alt="facebook">

    <img src="../../assets/fi_discord.svg" alt="discord">
  </div>

  <div class="footer-content">Disclaimer: The information provided shall not in any way constitute a recommendation as to whether you should invest in any product discussed. We accept no liability for any loss occasioned to any person acting or refraining from action as a result of any material provided or published. © 2021</div>
</div>
