<div class="feature-desc">
  Features that make the fundraising process <br> simple as 1-2-3
</div>

<div class="feature-process">
  <div class="feature-investor">
    <div class="feature-investor-title">For Investors:</div>

    <div class="feature-investor-process">
      <div class="feature-investor-item">
        <img [src]="feature_portfolio.url" [alt]="feature_portfolio.alt">

        <div class="feature-investor-item-title">Portfolio Tracking</div>

        <div class="feature-investor-item-desc">Track changes in your assets <br> from investments made</div>
      </div>

      <div class="feature-investor-item feature-investor-chat">
        <img [src]="feature_chat.url" [alt]="feature_chat.alt">

        <div class="feature-investor-item-title">Automatic projects scanner</div>

        <div class="feature-investor-item-desc">Estimate the risk of project's <br> fraud base on mathematical <br> factors before investing in</div>
      </div>

      <div class="feature-connection">
        <app-connection></app-connection>
      </div>
    </div>
  </div>

  <div class="feature-investor">
    <div class="feature-investor-title">For Teams:</div>

    <div class="feature-investor-process">
      <div class="feature-investor-item feature-investor-chat">
        <img [src]="feature_kyc.url" [alt]="feature_kyc.alt">

        <div class="feature-investor-item-title">KYC</div>

        <div class="feature-investor-item-desc">Optional KYC and <br> verification for projects</div>
      </div>

      <div class="feature-investor-item feature-investor-chat">
        <img [src]="feature_$.url" [alt]="feature_$.alt">

        <div class="feature-investor-item-title">Raise funds</div>

        <div class="feature-investor-item-desc">Create a token IDO with just <br> a few clicks</div>
      </div>

      <div class="feature-investor-item feature-investor-chat">
        <img [src]="feature_lock.url" [alt]="feature_lock.alt">

        <div class="feature-investor-item-title">Locking</div>

        <div class="feature-investor-item-desc">Lock your liqudity or your <br> tokens to give your investors <br> confidence in your project</div>
      </div>

      <div class="feature-connection">
        <app-connection></app-connection>
      </div>

      <div class="feature-connection" style="left: 445px">
        <app-connection></app-connection>
      </div>
    </div>
  </div>
</div>

