<div class="start-large-text">
  <span>{{start_text_array.large.first}}</span>
  <br>
  <span>{{start_text_array.large.second}}</span>

  <img [src]="start_vector.url" [alt]="start_vector.alt">
</div>

<div class="start-small-text">
  <span>{{start_text_array.small.first}}</span>
  <br>
  <span>{{start_text_array.small.second}}</span>
</div>

<div class="start-option">
  <button>Get started</button>

  <button>Learn more</button>
</div>

<div class="start-dashboard">
  <img [src]="start_dashboard.url" [alt]="start_dashboard.alt">
</div>
