<div class="signup-box">
  <div class="signup-title">Create a Tokonomo account</div>

  <div class="signup-label">Your Email <span>*</span></div>

  <input type="text" class="signup-input" placeholder="Your Email">

  <div class="signup-label">Password <span>*</span></div>

  <input type="password" class="signup-input" placeholder="Password (10 character minimum)">

  <div class="signup-label">Repeat password <span>*</span></div>

  <input type="password" class="signup-input" placeholder="Repeat password">

  <button class="signup-btn">Create account</button>

  <div class="signup-have-acc">Already have an account? <span class="signup-login" routerLink="/signin">Log In</span></div>
</div>
