<app-header></app-header>

<div class="container">
  <div class="nav-bar" *ngIf="isSignIn">
    <ul class="nav-bar-list">
      <li class="nav-select-item"><span class="dashboard-item"></span>Dashboard</li>
      <li><span class="launch-item"></span>Launchpad<i class="pi pi-caret-right"></i></li>
      <li><span class="locker-item"></span>Locker<i class="pi pi-caret-right"></i></li>
      <li><span class="account-item"></span>Your Account</li>
      <li><span class="docs-item"></span>Docs</li>
    </ul>
  </div>

  <div class="content">
    <app-token-frame></app-token-frame>

    <router-outlet></router-outlet>
  </div>
</div>

<app-footer></app-footer>
