<div class="nav-bar" *ngIf="isSignIn">
  <ul class="nav-bar-list">
    <li class="nav-select-item"><span class="dashboard-item"></span>Dashboard</li>
    <li><span class="launch-item"></span>Launchpad<i class="pi pi-caret-right"></i></li>
    <li><span class="locker-item"></span>Locker<i class="pi pi-caret-right"></i></li>
    <li><span class="account-item"></span>Your Account</li>
    <li><span class="docs-item"></span>Docs</li>
  </ul>

  <div class="nav-bar-social">
    <img  src="../../../assets/fi_twitter.svg" alt="twitter">

    <img src="../../../assets/fi_telegramm.svg" alt="telegram">

    <img src="../../../assets/fi_facebook.svg" alt="facebook">

    <img src="../../../assets/fi_discord.svg" alt="discord">
  </div>

  <div class="nav-bar-site-name">2021 TOKONOMO</div>

  <div class="nav-bar-adv">Advertise</div>
</div>
