<!--<c-header class="mb-4 d-print-none" position="sticky">-->
<ng-container>
  <c-container [fluid]="true">
    <button
      toggle="visible"
      cHeaderToggler
      [cSidebarToggle]="sidebarId"
      class="ps-1"
    >
      <svg cIcon
        name="cilMenu"
        size="lg"
      ></svg>
    </button>

    <div class="header-option">
      <button class="header-option-BSC">
        <img [src]="bsc_info.url" [alt]="bsc_info.alt">
        BSC Mainnet
      </button>

      <button class="header-option-Wallet">
        <img [src]="wallet_info.url" [alt]="wallet_info.alt">
        xzcW/x...434ND
      </button>

      <button class="header-option-User" routerLink="/signin">
        <img [src]="user_info.url" [alt]="user_info.alt">
      </button>
    </div>

  </c-container>
</ng-container>
<!--</c-header>-->

