.project-text
  width: 759px
  height: 120px
  margin: 222.81px auto 0 auto
  font-size: 40px
  font-weight: 700
  line-height: 150%
  position: relative

.project-text img
  width: 40px
  height: 40px
  position: absolute
  right: 24%
  top: 5%

.project-item-area
  display: flex
  width: 880px
  margin: 53px auto 0

.project-item
  width: 400px
  height: 570px
  background: rgba(255, 255, 255, 0.9)
  backdrop-filter: blur(120px)
  border-radius: 26px

.project-item:first-child
  margin-right: 80px

.project-item img
  width: 400px
  height: 400px
  background-color: rgb(238, 249, 251)
  border-radius: 12px

.project-item div
  width: 100%
  font-weight: 500
  font-size: 22px
  line-height: 150%

.project-item div:last-child
  width: 100%
  display: flex

.project-item div button
  width: 340px
  height: 63px
  background: #C1D45D
  backdrop-filter: blur(120px)
  border: 1px solid transparent
  border-radius: 12px
  color: #FFFFFF
  padding: 21px 89px 18px
  font-weight: 700
  font-size: 18px
  line-height: 24px
  margin: 20px auto 0

.project-item div button:hover
  background-color: #C0C000
  filter: drop-shadow(5px 5px 22px rgba(193, 212, 93, 0.8))


// responsive for mobile device.
@media screen and (max-width: 750px)
  .project-text
    width: 347px
    height: 126px
    font-size: 28px
    margin: 94.93px auto 0

  .project-text img
    width: 24px
    height: 24px
    right: 12%

  .project-item-area
    display: block
    width: 347px
    margin: 34px auto 0

  .project-item
    width: 347px
    height: 442px

  .project-item:first-child
    margin-bottom: 24px

  .project-item img
    width: 279px
    height: 279px
    margin: 17px 34px 0

  .project-item div
     font-size: 18px

  .project-item div:last-child button
    width: 299px
    height: 50px
    font-size: 16px
    line-height: 24px
    padding: 13px 85px
