<div class="dashboard-container">
  <div class="dashboard-header">
    <img [src]="dashboard_image.url" [alt]="dashboard_image.alt">
    Dashboard
  </div>

  <div class="dashboard-ann-pro">
    <div class="dashboard-ann">
      <div class="dashboard-ann-label">
        <div class="pi pi-calendar"></div>
        <span>Announcements</span>
        <div class="pi pi-chevron-left"></div>
        <div class="pi pi-chevron-right"></div>
      </div>

      <div class="dashboard-ann-content">
        <div class="dashboard-ann-listing" [style]="">LISTING</div>
        <div class="dashboard-ann-date">04.21.23</div>
        <div class="dashboard-ann-zeox">ZEOX</div>
        <img [src]="dashboard_ann_image.url" [alt]="dashboard_ann_image.alt">
      </div>
    </div>

    <div class="dashboard-pro">
      <div class="dashboard-pro-label">
        <div class="pi pi-dollar"></div>
        <span>Promoted</span>
        <div class="pi pi-chevron-left"></div>
        <div class="pi pi-chevron-right"></div>
      </div>

      <div class="dashboard-promot-list">
        <div class="dashboard-ann-content" style="background-color: #DEF0F0">
          <div class="dashboard-ann-listing">LISTING</div>
          <div class="dashboard-ann-date">04.21.23</div>
          <div class="dashboard-ann-zeox">ZEOX</div>
          <img style="top: 73px" [src]="dashboard_promote_1_image.url" [alt]="dashboard_promote_1_image.alt">
        </div>

        <div class="dashboard-ann-content" style="background-color: #F0DEDE">
          <div class="dashboard-ann-listing">LISTING</div>
          <div class="dashboard-ann-date">04.21.23</div>
          <div class="dashboard-ann-zeox">ZEOX</div>
          <img style="top: 51px" [src]="dashboard_promote_2_image.url" [alt]="dashboard_promote_2_image.alt">
        </div>

        <div class="dashboard-ann-content" style="background-color: #F0ECDE">
          <div class="dashboard-ann-listing">LISTING</div>
          <div class="dashboard-ann-date">04.21.23</div>
          <div class="dashboard-ann-zeox">ZEOX</div>
          <img style="top: 51px" [src]="dashboard_promote_3_image.url" [alt]="dashboard_promote_3_image.alt">
        </div>
      </div>
    </div>
  </div>

  <div class="dashboard-invest-ido">
    <div class="dashboard-invest">
      <div class="dashboard-invest-label">
        <i class="pi pi-database"></i>
        Your Investments
      </div>

      <div class="dashboard-invest-content">
        <div class="dashboard-invest-roi">Investments ROI</div>
        <div class="dashboard-invest-balance">BALANCE IN USD</div>
        <div class="dashboard-invest-dollar">$ 776.43</div>
        <div class="dashboard-invest-calc">+228% ($ 776.43 USD) <i class="pi pi-sort-up"></i></div>
        <div class="dashboard-invest-point">$ 776.43</div>
        <img [src]="dashboard_vector_image.url" [alt]="dashboard_vector_image.alt">
      </div>
    </div>

    <div class="dashboard-ido">
      <div class="dashboard-ido-label">
        <div class="pi pi-dollar"></div>
        <span>Your starter IDOs</span>
        <div class="pi pi-chevron-left"></div>
        <div class="pi pi-chevron-right"></div>
      </div>

      <div class="dashboard-ido-content">
        <div class="dashboard-ido-icon">
          <img class="dashboard-ido-start" [src]="dashboard_ido_image.url" [alt]="dashboard_ido_image.alt">

          <img class="dashboard-ido-pencil" [src]="dashboard_ido_pencil_image.url" [alt]="dashboard_ido_pencil_image.alt">

          <img class="dashboard-ido-star" [src]="dashboard_ido_start_image.url" [alt]="dashboard_ido_start_image.alt">

          <img class="dashboard-ido-up" [src]="dashboard_ido_up_image.url" [alt]="dashboard_ido_up_image.alt">
        </div>

        <div class="dashboard-ido-god">Gods unchained</div>

        <div class="dashboard-ido-equal">1 BNB = 1 GODS</div>

        <div class="dashboard-ido-soft">
          <span>Soft / Hard Cap:</span>
          <span>1 BNB - 2 BNB</span>
        </div>

        <div class="dashboard-ido-rasied">
          <span>Raised</span>
          <span>(0.25%)</span>
        </div>

        <div class="dashboard-ido-rate-bar">
          <div></div>
        </div>

        <div class="dashboard-ido-price">
          <span>1 BNB</span>
          <span>200 BNB</span>
        </div>

        <div class="dashboard-ido-percent">
          <span>Liqudity %:</span>
          <span>90 %</span>
        </div>

        <div class="dashboard-ido-time">
          <span>Lockup Time:</span>
          <span>400 000 minutes</span>
        </div>

        <div class="dashboard-ido-sale">
          <div class="dashboard-ido-start-time">
            <span>Sale Starts In:</span>
            <br>
            <span>00 : 06 : 32 : 53</span>
          </div>

          <div class="dashboard-ido-view">View Pool</div>
        </div>
      </div>
    </div>
  </div>

</div>
