<div class="header">
  <div class="header-logo" routerLink="/">
    <img [src]="logo_info.url" [alt]="logo_info.alt">
  </div>

  <div class="header-option">
    <button class="header-option-token">Tokens List</button>

    <button class="header-option-logIn" routerLink="/signin" routerLinkActive="active">Log In</button>

    <button class="header-option-started">Get started</button>
  </div>

  <!--<div class="header-option" *ngIf="isSignIn">
    <button class="header-option-BSC">
      <img [src]="bsc_info.url" [alt]="bsc_info.alt">
      BSC Mainnet
    </button>

    <button class="header-option-Wallet">
      <img [src]="wallet_info.url" [alt]="wallet_info.alt">
      xzcW/x...434ND
    </button>

    <button class="header-option-User">
      <img [src]="user_info.url" [alt]="user_info.alt">
    </button>
  </div>-->
</div>
