%feature-font
  font-family: 'Neue Machina'
  font-style: normal
  text-align: center
  color: #363642

.feature-description
  @extend %feature-font
  width: 100%
  font-weight: 700
  font-size: 40px
  line-height: 150%
  margin-top: 220px

.feature-container
  margin: 74px 40px 0 60px
  display: flex

.feature-investor
  width: calc((100% - 300px) / 2)

.feature-investor-label
  @extend %feature-font
  font-weight: 700
  font-size: 22px
  line-height: 150%

.feature-investor-process
  @extend %feature-font
  width: 100%
  height: 288px
  position: relative

.feature-investor-portfolio-img
  width: 96px
  height: 59.99px
  position: absolute
  left: 58px
  top: 18px

.feature-investor-portfolio-title
  @extend %feature-font
  position: absolute
  left: 40px
  top: 176px
  font-weight: 700
  font-size: 16px
  line-height: 24px

%feature-investor-desc
  @extend %feature-font
  position: absolute
  font-weight: 400
  font-size: 14px
  line-height: 24px

.feature-investor-portfolio-desc1
  @extend %feature-investor-desc
  left: 25px
  top: 216px

.feature-investor-portfolio-desc2
  @extend %feature-investor-desc
  left: 35px
  top: 240px

.feature-investor-chat
  width: 96px
  height: 96px
  position: absolute
  left: 336px
  top: 0

.feature-investor-chat-title
  @extend %feature-font
  font-weight: 700
  font-size: 16px
  line-height: 24px
  position: absolute
  left: 290px
  top: 176px

.feature-investor-chat-desc1
  @extend %feature-investor-desc
  left: 300px
  top: 216px

.feature-investor-chat-desc2
  @extend %feature-investor-desc
  left: 300px
  top: 240px

.feature-investor-chat-desc3
  @extend %feature-investor-desc
  left: 310px
  top: 264px

.feature-connection
  width: 134px
  height: 12px
  position: absolute
  left: 178px
  top: 42px
